body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items:center;
  height: 100vh;
  justify-content: center;
  background: url( "https://images.unsplash.com/photo-1439405326854-014607f694d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80") 
}

h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
  text-align: center;
  color: white;
}

.clock {
  display: flex;
}

.clock div {
  margin: 5px;
}

.clock #ampm {
  bottom:  4;
  position: relative;
  width: 60px;
  height: 30px;
  font-size: 20px;
  background: green;
}

.clock span {
  width: 100 px; 
  height: 80px; 
  background-color: slateblue;
  opacity: .80;
  color:white;
  display: flex; 
  align-items: center;
  font-size: 50px;
  text-shadow: 2px 2px rgb((0), 0, 0,0.3);
}

.clock .text {
  height: 30px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: darkblue;
  opacity: .80;
}
